:root {
  --primary: #111;
  --secondary: #333;
  --teritiary: #888;
  --opacity: 0.7;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='84' viewBox='0 0 36 72'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23333333' fill-opacity='0.4'%3E%3Cpath d='M2 6h12L8 18 2 6zm18 36h12l-6 12-6-12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  color: white;
  font-size: 16px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  width: 100vw;
  height: 4rem;
  border-bottom: 1px solid var(--secondary);
  background: var(--primary);
  padding-top: 1rem;
}

.title {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
}

.sidebar {
  height: 100%;
  width: 250px;
  padding: 40px 0 40px 0;
  background-color: var(--primary);
  border-right: 1px solid var(--secondary);
}

.sidebar a {
  padding: 8px;
  display: block;
  text-decoration: none;
}

.sidebar a:hover {
  cursor: pointer;
  background-color: var(--secondary);
}

.main-section {
  display: flex;
  height: calc(100% - 8rem);
}

.footer {
  height: 4rem;
  width: 100%;
  border-top: 1px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--teritiary);
  background: black;
  position: absolute;
  bottom: 0;
}